<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../ant-design-vue-1.7.2/package/dist/antd.min.css">
    <link rel="stylesheet" href="../css/Search.css">
    <style>
        .ant-select-dropdown-menu-item{
            overflow: visible;
        }
        .content-div{
            width: 33%;
            float: left;
        }
        .content-title{
            margin-bottom: 2px;
            font-size: 15px;
            display: block;
        }
    </style>
</head>
<body>
<div id="app">

    <div class="topBox">
        <!--标题-->
        <div class="logo">
            <span class="logo-span">AnimalMetagenome DB</span>
        </div>
        <!--菜单-->
        <div class="butTb" >
            <img class="tb" src="../images/biao.png">
        </div>

        <div class="nav" >
            <ul>
                <li><a href="../../homePages.html">Home</a></li>
                <li><a href="browser.html">Browse</a></li>
                <li><a href="Search.html" class="active">Search</a></li>
                <li><a href="map.html">Map</a></li>
                <li><a href="help.html">Help</a></li>
                <li><a href="submit.html">Submit</a></li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="all-content">
            <div class="first-line-Select" style="min-height: 52px;">
                <div class="content-div">
                    <span class="content-title">Species:</span>
                    <a-cascader :options="speciesOptions" v-model="speciesArr"  style="width: 85%;" change-on-select placeholder=" " @change="changeSpecies"  />
                </div>
                <div class="content-div">
                    <span class="content-title">Sample Site:</span>
                    <a-cascader :options="sampleSiteArr" v-model="sampleSite1List"  style="width: 85%;" change-on-select placeholder=" " @change="changeSampleSite"  />
                </div>
                <div class="content-div">
                    <span class="content-title">Study Purpose:</span>
                    <template>
                        <a-cascader :options="BioProjectType" v-model="studyTypeArr"  style="width: 85%;" change-on-select placeholder=" " @change="changeStudyType"  />
                    </template>
                </div>
            </div>
            <div class="second-line-Select" style="min-height: 60px;">
                <div class="content-div">
                    <span class="content-title">Sex:</span>
                    <a-select
                            style="width: 85%;"
                            v-model="newSex"
                            show-search
                            option-filter-prop="children"
                            :filter-option="filterOption"
                    >
                        <div slot="dropdownRender" slot-scope="menu">
                            <div
                                    style="padding: 5px 12px; cursor: pointer;"
                                    @mousedown="e => e.preventDefault()"
                                    @click="DeselectSex"
                            >
                                Deselect All
                            </div>
                            <v-nodes :vnodes="menu" />
                        </div>
                        <a-select-option
                                v-for="s in newSexList"
                                :key="s"
                                :value="s">
                            {{s}}
                        </a-select-option>
                    </a-select>
                </div>
                <div class="content-div">
                    <span class="content-title">Sequencing Platform:</span>
                    <a-select
                            style="width: 85%;"
                            v-model="instrument"
                            show-search
                            option-filter-prop="children"
                            :filter-option="filterOption"
                    >
                        <div slot="dropdownRender" slot-scope="menu">
                            <div
                                    style="padding: 5px 12px; cursor: pointer;"
                                    @mousedown="e => e.preventDefault()"
                                    @click="DeselectInstrument"
                            >
                                Deselect All
                            </div>
                            <v-nodes :vnodes="menu" />
                        </div>
                        <a-select-option
                                v-for="i in instrumentList"
                                :key="i.instrument"
                                :value="i.instrument">
                            {{i.instrument}}
                        </a-select-option>
                    </a-select>
                </div>
                <div class="content-div">
                    <span class="content-title">Library Strategy:</span>
                    <a-select
                            style="width: 85%;"
                            v-model="libraryStrategy"
                            show-search
                            option-filter-prop="children"
                            :filter-option="filterOption"
                    >
                        <div slot="dropdownRender" slot-scope="menu">
                            <div
                                    style="padding: 5px 12px; cursor: pointer;"
                                    @mousedown="e => e.preventDefault()"
                                    @click="DeselectLibraryStrategy"
                            >
                                Deselect All
                            </div>
                            <v-nodes :vnodes="menu" />
                        </div>
                        <a-select-option
                                v-for="l in libraryStrategyList"
                                :key="l.libraryStrategy"
                                :value="l.libraryStrategy">
                            {{l.libraryStrategy}}
                        </a-select-option>
                    </a-select>
                </div>
            </div>
            <div class="third-line-Select" style="min-height: 52px;">
                <div class="content-div">
                    <span class="content-title">DNA Extraction Method:</span>
                    <a-select
                            style="width: 85%;"
                            v-model="newDna"
                            show-search
                            option-filter-prop="children"
                            :filter-option="filterOption"
                    >
                        <div slot="dropdownRender" slot-scope="menu">
                            <div
                                    style="padding: 5px 12px; cursor: pointer;"
                                    @mousedown="e => e.preventDefault()"
                                    @click="DeselectDNA"
                            >
                                Deselect All
                            </div>
                            <v-nodes :vnodes="menu" />
                        </div>
                        <a-select-option
                                v-for="l in newDnaList"
                                :key="l"
                                :value="l">
                            {{l}}
                        </a-select-option>
                    </a-select>
                </div>
                <div class="content-div">
                    <span class="content-title">Creation Date:</span>
                    <a-range-picker @change="changeTimePicker" style="width: 85%;" />
                </div>
                <div class="content-div">
                    <span class="content-title">Age(month):</span>
                    <div style="width: 85%;">
                        <div style="width: 44%;float: left;"><a-input-number style="width: 100%;" :min="0" :max="100000" @change="changeStartMonth" /></div>
                        <span style="font-size: 16px;margin: 4px 10px;float: left;">To</span>
                        <div style="width: 44%;float: left;"><a-input-number style="width: 100%;" :min="startMonth + 1" :max="100000" @change="changeEndMonth"/></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="all-button" style="float: right;margin-right: 5%;margin-bottom: 20px;">
            <div class="button-one">
                <a-button  type="primary" @click="Search()">
                    <i class="iconfont">&#xe605;</i>
                </a-button>
            </div>

            <div class="button-two">
                <a-button  type="primary" @click="Reset()">
                    <i class="iconfont">&#xe608;</i>
                </a-button>
            </div>

            <div class="button-three">
                <a-button type="primary" @click="printData()">
                    <i class="iconfont">&#xe7e3;</i>
                </a-button>
            </div>
        </div>
        <template>
            <a-table
                    :row-class-name = rowClassName
                    style="width: 90%;margin-right: auto;margin-left: auto; min-height: 610px"
                    :columns="columns"
                    :data-source="result"
                    :row-key='(record,index)=>index'
                    :scroll="{ x:true}"
                    :pagination="false"
                    :loading="FAQ"
                    :row-selection="{ selectedRowKeys: selectedRowKeys, onChange: onSelectChange }"
                    @change="changeTab"
            >
                <a slot="lianjies" slot-scope="text,record" :href="record.lianjies" target="_blank" >{{ text }}</a>
                <a slot="lianjieb" slot-scope="text,record" :href="record.lianjieb" target="_blank" >{{ text }}</a>
                <a slot="lianjiee" slot-scope="text,record" :href="record.lianjiee" target="_blank" >{{ text }}</a>
                <a slot="lianjiep" slot-scope="text,record" :href="record.lianjiep" target="_blank" >{{ text }}</a>
                <a slot="lianjienew" slot-scope="text,record" :href="record.lianjienew" target="_blank" >{{ text }}</a>
            </a-table>
        </template>

        <!--分页-->
        <div class="fy">
            <a-pagination
                    show-quick-jumper
                    :default-current="pageNum"
                    :total="total"
                    @change="onChange"
            />
        </div>
    </div>

    <div class="foot">
        <p>Copyright ©College of Life Sciences, Shihezi University</p>　
    </div>

</div>
</body>
<script src="../vuejs/axios.js"></script>
<script src="../vuejs/vue.js"></script>
<script src="../ant-design-vue-1.7.2/package/moment/moment.js"></script>
<script src="../ant-design-vue-1.7.2/package/dist/antd.js"></script>
<script src="../node_modules/xlsx/dist/xlsx.core.min.js"></script>
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="../localstyle/Search.js"></script>
<script>
    var isShow=false
    $(document).ready(function(){

        $(".tb").click(function(){
            if(isShow==false){
                $(".nav").css("display","block");
            }
            else{
                $(".nav").css("display","none");
            }
            isShow=!isShow
        });
    });
</script>
<style>
    .drp-popup{
        margin-top: 180px;
        display: none;
    }
</style>
</html>
