*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    font-family: "微软雅黑";
}
a:hover{
    background-color:rgb(76,150,223);
}
a:active{
    background-color:cyan;
}
.active{
    background-color: #3aa2e2;
}

    body{
        font-size: 16px;
        color: rgba(0,0,0,1);
    }
    #app{
        overflow-x: hidden;
    }
    .topBox{
        background-color: #3b8fc3;
        height: 75px;
        width: 100%;
        /*right: 0;*/
        /*left: 0;*/
        /*position: fixed;*/
        /*z-index: 100;*/
    }
    .logo{
        height: 100%;
        width: 45%;
        float: left;
    }
    .logo-span{
        white-space: nowrap;
        font-size: 30px;
        margin-left: 40%;
        line-height: 75px;
    }
    .tb{
        display: none;
    }
    .nav{
        height: 100%;
        width: 55%;
        float: left;
    }
    .nav ul{
        height: 100%;
        width: 100%;
        line-height: 75px;
    }
    .nav li{
        height: 100%;
        float: left;
        /*margin-right: 4%;*/
        width: 9%;
        text-align: center;
    }
    .nav li a{
        color:#000000;
        display: block;
        width: 100%;
        height: 100%;
    }
    .top{
        width: 70%;
        height: 900px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
    }
    .top-title{
        height: 7%;
        background: rgb(224,224,224);
        padding: 1% 1% ;
    }
    .top-title p{
        font-size:18px;
    }
    .top-content-bd{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .top-content{
        padding: 1%;
        border: 1px solid rgba(0,0,0,.125);
        height: 84%;
    }
    .top-content p{
        line-height: 22px;
    }
    .top-content-bd{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .foot{
        width: 100%;
        height: 75px;
        margin-top: 2%;
        background-color: #9e9e9e;
        margin-top: 80px;
    }
    .foot p{
        text-align: center;
        position: relative;
        top: 35px;
    }
    .ant-col-4 {
        width: 20%;
    }


@media only screen and (max-width:1440px ){
    .logo{
        width: 50%;
    }
    .logo-span{
        margin-left: 250px;
        font-size: 22px;
    }
    .nav{
        width: 50%;
    }
    .nav li{
        width: 12%;
    }
    .top-content-bd{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .top{
        width: 70%;
    }
    .ant-col-4 {
        width: 30%;
    }
}

@media only screen and (max-width:1024px ){
    .logo{
        width: 50%;
    }
    .logo-span{
        margin-left: 140px;
        font-size: 22px;
    }
    .nav{
        width: 50%;
    }
    .nav li{
        width: 15%;
    }
    .top-content-bd{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .top{
        width: 90%;
    }
    .ant-col-4 {
        width: 30%;
    }
}

@media only screen and (max-width:768px ){
    .logo{
        width: 50%;
    }
    .logo-span{
        margin-left: 60px;
        font-size: 22px;
    }
    .nav{
        width: 50%;
    }
    .nav li{
        width: 16%;
    }
    .top-content-bd{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .top{
        width: 90%;
    }
    .ant-col-4 {
        width: 30%;
    }
}

@media only screen and (max-width:425px ){
    .topBox{
        background-color: #3b8fc3;
        height: 75px;
        width: 100%;
        position: fixed;
        z-index: 100;
        top: 0;
    }
    .logo{
        height: 100%;
        width: 65%;
        float: left;
        line-height: 50px;
    }
    .logo-span{
        white-space: nowrap;
        font-size: 20px;
        margin-left: 12px;
        line-height: 75px;
    }
    .tb {
        display: block;
        width: 35px;
        margin-left: 90px;
        margin-top: 20px;
    }
    .butTb{
        height: 100%;
        width: 35%;
        float: left;
    }
    .nav{
        display: none;
        height: 22%;
        width: 100%;
        float: none;
        position: fixed;
        top: 75px;
        background-color: beige;
    }
    .nav ul{
        height: 100%;
        width: 100%;
        line-height: 25px;
    }
    .nav li{
        height: 16.66%;
        float: none;
        width: 100%;
        text-align: center;
    }
    .nav li a{
        color:#000000;
        display: block;
        width: 100%;
        height: 100%;
    }
    .top{
        width: 90%;
        height: 900px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 90px;
    }
    .top-title{
        height: 4%;
    }
    .top-content {
        padding: 1%;
        border: 1px solid rgba(0,0,0,.125);
        height: 88%;
    }
    .foot{
        width: 100%;
        height: 50px;
        background-color: #9e9e9e;
    }
    .foot p{
        text-align: center;
        position: relative;
        top: 40%;
        font-size: 13px;
    }
    .ant-col-4 {
        width: 100%;
    }
    .top-content-bd{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}
